@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    /* background-color: #2192FF; */
    color: rgb(34, 34, 43);
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2192FF;
}

.iniciar-juego{
    align-self: center;
    font-size: 30px;
    margin-top: 100px;
    padding: 20px;
    border: 3px solid #38E54D;
    background-color: #9CFF2E;
    border-radius: 13px;
    text-decoration: none;
    width: 300px;
}

.iniciar-juego:hover{
    background-color: #38E54D;
}

.title{
    margin-top: 30px;
    font-size: 40px;
}

.section-mascotas{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
}

.section-inicio{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
}

.card-container{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: static;
}

.cards-mokepon{
    min-width: 200px;
    max-width: 200px;
    height: 250px;
    margin: auto 15px;
    border-radius: 10px;
    border: none;
    /* background-color: #38E54D; */
    margin-left: 25px;
}

.cards-mokepon:hover{
    background-color: #9CFF2E;
    
}

.cards-mokepon p{
    margin-top: 2px;
    padding: 5px;
    background-color: #38E54D;
    border-radius:10px 10px 0 0 ;
}

.cards-mokepon img{
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
    background-color: #38E54D;
}

.card-container input{
    font-size: 10px;
    position: relative;
    right: 40px;
    bottom: 110px;
}

.btn-seleccionar{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #FDFF00;
    justify-self: center;
    align-self: center;
    font-size: 12px;
    margin-top: 20px;
}

.btn-seleccionar:hover{
    color: rgb(121, 123, 120);
}


.canvas{
    margin-top: 20px;
    border: 3px solid #38E54D;
    border-radius: 8px;
    width: 360px;
    height: 180px;
    /* background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210306/pngtree-modern-versus-battle-contestant-fighters-or-teams-with-stage-light-effect-image_580417.jpg"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2016/07/20/22/55/floor-1531509_960_720.jpg"); */
    background-image: url("https://i.pinimg.com/736x/d6/7c/3c/d67c3cbce4d7e9355e8522e10434d76c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-ataques{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.section-ataques h2{
    margin: 30px auto;
}

.container-personajes{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.versus{
    font-size: 30px;
    margin-top: 20px;
}

.personajes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    
}

.section-ataques p{
    width: 80%;
    line-height: 35px;
}

.container-habilidades{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personajes p {
    font-size: 30px;
}

.color-salud {
    font-size: 30px;
    color: #38E54D;
}

.salud-negativa{
    color: rgb(197, 42, 42);
}

.btn{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #FDFF00;
    justify-self: center;
    align-self: center;
    font-size: 12px;
   
}

.btn:hover{
    color: rgb(121, 123, 120);
}

.section-mensajes{
    display: flex;
    flex-direction: column;
    height: 150px;
    gap: 35px;
    margin: 30px auto;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 90%;
    background-color: #3367eb;
    overflow-y: auto;
}

.section-mensajes p {
    width: 98%;
    margin-top: 30px;
    background-color: transparent;
}

.section-mensajes p::before{
    content: "-";
}

.btn-reiniciar{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #FDFF00;
    justify-self: center;
    align-self: center;
    font-size: 12px;
}

.btn-reiniciar:hover{
    color: white;
}

.inactive{
    display: none;
}

@media screen and (min-width: 426px){
    .canvas{
        min-width: 450px;
        height: 225px;
    }
}

@media screen and (min-width:769px){
    .card-container{
        justify-content: center;
    }

    .container-habilidades{
        
        flex-direction: row;
    }

    .section-mensajes p {
        
        margin-top: 0px;
        background-color: transparent;
    }

    .canvas{
        width: 740px;
        height: 350px;
    }
}